[Desktop Entry]
Name=Bashrc (Post Log-In)
Comment=Shortcut to Bashrc.. Executes command After Log-In
Icon=/usr/share/pixmaps/openbox.xpm
Exec=sudo leafpad .bashrc
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
